<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="layouts/template.html">

<body>
	<div class="container text-center" layout:fragment="content">
		<h3 style="text-align: center; color:deeppink" th:text="${loginMsg}"></h3>
		<div class="container text-center">
			<h1>Add Echo Versoin of Song</h1>
			<form th:action="@{/songs/add/handler}" th:object="${songModel}" method="post">
				<table class="table">
					<tr>
			
		
					Old song name
					Old song artist's name
					Link to old song
					
					Description (optional)
					Link to remade cover (optional)
						<td>
							<label>Remake Name: </label></br>
							<input type="text" th:field="*{redoneTitle}" required minlength="1" maxlength="20" />
							<label style="color:red" th:if="${#fields.hasErrors('redoneTitle')}" th:errors="*{redoneTitle}">
						</td>
					</tr>
					<tr>
						<td>
							<label>Remake Subtitle (optional): </label></br>
							<input type="text" th:field="*{redoneSubtitle}" minlength="1" maxlength="20" />
							<label style="color:red" th:if="${#fields.hasErrors('redoneSubtitle')}" th:errors="*{redoneSubtitle}">
						</td>
					</tr>
					<tr>
						<td>
							<label>Remake Link (Youtube, Vimeo, etc.): </label></br>
							<input type="text" th:field="*{redoneSongLink}" />
							<label style="color:red" th:if="${#fields.hasErrors('redoneSongLink')}" th:errors="*{redoneSongLink}">
						</td>
					</tr>
					
					<br>
					<br>
					
					<tr>
						<td>
							<label>Original Song's' Title: </label></br>
							<input type="text" th:field="*{originalTitle}" required minlength="1" maxlength="100" />
							<label style="color:red" th:if="${#fields.hasErrors('originalTitle')}" th:errors="*{originalTitle}">
						</td>
					</tr>
					<tr>
						<td>
							<label>Original Song's Artist': </label></br>
							<input type="text" th:field="*{originalArtist}" required minlength="1" maxlength="100" />
							<label style="color:red" th:if="${#fields.hasErrors('originalArtist')}" th:errors="*{originalArtist}">
						</td>
					</tr>
					<tr>
						<td>
							<label>Link to Original Song (Youtube, Vimeo, etc.): </label></br>
							<input type="text" th:field="*{originalSongLink}" />
							<label style="color:red" th:if="${#fields.hasErrors('originalSongLink')}" th:errors="*{originalSongLink}">
						</td>
					</tr>
					
					<br>
					
					<tr>
						<td>
							<label>Description of Remade Song (optional): </label></br>
							<input type="text" th:field="*{songDescription}" minlength="1" maxlength="1000" />
							<label style="color:red" th:if="${#fields.hasErrors('songDescription')}" th:errors="*{songDescription}">
						</td>
					</tr>
					<tr>
						<td>
							<label>Redone Album Cover Link (optional): </label></br>
							<input type="text" th:field="*{redoneAlbumCoverLink}" required minlength="1" maxlength="100" />
							<label style="color:red" th:if="${#fields.hasErrors('redoneAlbumCoverLink')}" th:errors="*{redoneAlbumCoverLink}">
						</td>
					</tr>
					
					<tr>
						<td>
							<button type="submit">Sign Up</button>
						</td>
					</tr>

			</form>
		</div>

</body>

</html>