<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="layouts/template.html">

<body>
	<div class="container text-center" layout:fragment="content">
		<h1>Home Page of Echo!</h1>
		<br>
		<img width="600px" height="400px" th:src="@{/images/photo-1617922082126-622dce3ee96f.jpeg}" />
		<br>
		<h3>New here?</h3>
		<a href="/register" th:href="@{/register}" class="btn btn-large btn-success">Get Started!</a>

	</div>
</body>

</html>