<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="layouts/template.html">

<body>
	<div class="container text-center" layout:fragment="content">
		<h3 style="text-align: center; color:deeppink" th:text="${loginMsg}"></h3>
		<form th:action="@{/login/handler}" th:object="${user}" method="post">
			<h3 style="text-align:center">Login</h3>
			<table class="table">
				<tr>
					<td><label>Username: </label></br><input type="text" th:field="*{username}" required minlength="10"
							maxlength="50" />
						<label style="color:red" th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Password invalid</label></td>
        	</tr>
        	<tr>
        		<td><label>Password: </label></br><input type="password" th:field="*{password}" required minlength="10" maxlength="50"/>
        		<label style="color:red" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password invalid</label>
        	</tr>
        	<tr>
        	</tr>
        </table>
        <a href="/songs" th:href="@{/songs}" class="btn btn-large btn-success">Login</a>

        </form>
        
    </div>
     
</body>
</html>