<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="layouts/template.html">

<body>
	<div class="container text-center" layout:fragment="content">
        <h1>You have successfully registered! <a th:href="@{login}">Login Now</a></h1>
    </div>
</body>
</html>