<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="layouts/template.html">

<body>
	<div class="container text-center" layout:fragment="content">
         <h1>Something went wrong when attempting to add the song.  Try another song title or redone song title/subtitle or <a th:href="@{}">return home</a></h1>
    </div>
</body>
</html>